/* ----------------------------------------------- */
/* Search/filter styles
-------------------------------------------------- */
.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-range {
  display: table;
  width: 100%;
}

.input-range-left,
.input-range-right {
  display: table-cell;
}

.input-range-left {
  margin-right: 0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-range-right {
  margin-left: 0;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-range-mid {
  display: table-cell;
  width: 1%;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  white-space: nowrap;
  vertical-align: middle;
}

/* ----------------------------------------------- */
/* Table styles
-------------------------------------------------- */
.fraction sub,
.fraction sup {
  /*font-size: 100%;*/
}

/* ----------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer-content {
  margin-top: 20px;
}

/* Make compatible with fixed-to-top navbar */
body > .container,
body > .container-fluid {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/* ----------------------------------------------- */
/* Navbar styles
-------------------------------------------------- */

.navbar {
  margin: 0px;
}

.navbar-padding {
  margin: 100px;
}

/* ----------------------------------------------- */
/* Custom datatables styles
-------------------------------------------------- */

.dataTables_filter {
  display: none;
}

