@model MonsterManual5e.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<div class="page-header">
    <h1>Search</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="search-container">
            @using (Ajax.BeginForm("Search", null,
                new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "monster-results"
                    //OnBegin = "startGettingEmployees",
                    //OnSuccess = "endGettingEmployees"
                }, new { @class = "search-form", @id = "search-monsters-form" }))
            {
                <div class="form-group">
                    <label>Name</label>
                    <div class="input-group">
                        <input name="name" type="text" class="form-control search-input-update" placeholder="Search by name...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-lg">
        @Html.Partial("_Results", Model)
    </div>
</div>
